# Sunucuda bunu .env olarak kopyala ve degerleri doldur. .env dosyasini ASLA commit etme.
GITHUB_OWNER=vedatkoylahisar
TAG=latest
POSTGRES_PASSWORD=degistir
JWT_KEY=en-az-32-karakterlik-uzun-rastgele-bir-anahtar
ADMIN_USERNAME=admin
ADMIN_PASSWORD=degistir
